
#####################################################################################
#
# HyperBird configurations
#
#####################################################################################

hb { 
	
	db { 
		# Database configurations
		"protocol": "http://",
		"hostName": "localhost",
		"port": 8080,
		"restPrefix": "/exist/rest" ,
		"name": "/db/hb",
		"user": "YOUR_USER",
		"password": "YOUR_USER_PWD" 
	}
	collection {
	    # Contains initialisaton configurations and users, roles
		"configuration": "G10000101010101000"
		# Contains ELFIN objects catalogue
		"catalogue": "G20140101000012345"
		# Contains database stored XQueries
		"xqueries": "queries"
	}
	init {
		# hb.init Elfin.Id . 
		# Note: This Elfin.ID_G must match the hb.collection.configuration collection id.
		"id": "G20050101000012345"
	}
	api {
		# Root folder where ELFIN annexes are stored.
	    "annexesRootFolder" : "/PATH/TO/HYPERBIRD/ANNEXES/ROOT",
		# Folder to upload temporary file chunks to.
	    "temporaryUploadFolder" : "/tmp/hb-uploads",	    
		# REST base URL. Use for instance by Restangular.   
		"baseUrl": "http://localhost:9000/api/melfin/"
		"clientDebugEnabled": true,
		"queryCacheEnabled" : true
	}

	report {
        wkhtmltopdf {
          "path": "/Users/guy/Documents/personal/bsi/hb5/source/hb-api/wkhtmltopdf/macosx/wkhtmltopdf-macosx-32bit-0.12.1-79f3688"
        }
      }
}



